HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
 
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
 
# Ignore build directories
/target/
 
# Ignore Maven cache
/mvn/
 
# Ignore IDE settings
.settings/
.classpath
.project